{{- $secretsName := include "common.secretsName" . -}}
{{- if not .Values.noAuth.enabled }}
{{- with .Values.secrets }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretsName }}
  namespace: {{ template "common.namespace" $ }}
data: 
  WORKSPACE_PASSWORD: {{ required "Error: secrets.password is required when noAuth is disabled!" .password | b64enc | quote }}
{{- end }}
{{- end }}
