global:
  domain: ""
  subDomain: true
  containerRegistry: "gcr.io/hasura-ee"
  certIssuer: "letsencrypt-prod"
  uriScheme: "https"

# Common Labels
labels:
  app: "ddn-cli-api"

# Container Configs
image:
  repository: "ddn-cli-api"
  tag: "v0.1.1-a4f050b.1"
  pullPolicy: IfNotPresent
replicas: "1"
httpPort: 3000
wsInactiveExpiryMins: "1"
securityContext:
  runAsNonRoot: true
  runAsGroup: 1000
  runAsUser: 1000
  fsGroup: 1000

serviceAccount:
  enabled: false
  name: ""

healthChecks:
  enabled: true
  livenessProbe: |
    httpGet:
      path: /health
      port: 3000
  readinessProbe: |
    httpGet:
      path: /health
      port: 3000

resources: |
  requests:
    cpu: "200m"
    memory: "500Mi"
  limits:
    cpu: "1"
    memory: "1Gi"

# Ingress Configs
# enable ingress / routes only if there is no internal network connectivity
# between control plane and data planes
ingress:
  enabled: true
  ingressClassName: nginx
  hostName: '{{ template "ddn-cli-api.domain" . }}'
  additionalAnnotations: '{{ template "ddn-cli-api.ingress.annotations" . }}'
  path: '{{ template "ddn-cli-api.path" . }}'

ddnCliApiEnvVars:
  CP_GRAPHQL_ENDPOINT: ""
  HASURA_DDN_CONSOLE_HOST: ""

env: |
  {{- if .Values.ddnCliApiEnvVars.CP_GRAPHQL_ENDPOINT }}
  - name: CP_GRAPHQL_ENDPOINT
    value: {{ .Values.ddnCliApiEnvVars.CP_GRAPHQL_ENDPOINT }}
  - name: HASURA_DDN_CONTROL_PLANE_HOST
    value: {{ regexReplaceAll "/v1/graphql$" .Values.ddnCliApiEnvVars.CP_GRAPHQL_ENDPOINT "" }}
  {{- end }}
  {{- if .Values.ddnCliApiEnvVars.HASURA_DDN_CONSOLE_HOST }}
  - name: HASURA_DDN_CONSOLE_HOST
    value: {{ .Values.ddnCliApiEnvVars.HASURA_DDN_CONSOLE_HOST }}
  {{- end }}
  - name: LOG_LEVEL
    value: info
